*{
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}


body{
  max-width: 800px;
  margin: auto;
}

th{
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0;
}

.loading{
  width: 800px;
  font-size: 4rem;
  text-align: center;
}


td{
  padding: 1rem 1rem;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 4rem;
  gap: 30px;
  padding: 4rem;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  animation: bounceLink 0.7s linear infinite;
}

@keyframes bounceLink{
  0% {
    font-size: 2rem;
  }
  50% {
    font-size: 2.5rem;
  }
  100% {
    font-size: 2rem;
  }
}

button{
  padding: 1rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid darkslategray;
  color: darkslategray;
  border-radius: 2px;
}

button:hover{
  background-color: darkslategray;
  color: white;
}

:focus{
  outline: none;
}